.notification-card {
    cursor: pointer;
    background-color: #fefdfd; 
}
.notification-content {
    display: none; /* Ensure content is hidden initially */
    background-color: #f2ebeb; /* Lighter background for content */
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Adds shadow effect */
}

.notification-card.read .remove-btn {
    display: inline-block; /* Show remove button for read notifications */
}
.btn-box{
    min-width: 50px; 
}
.content-title-box{
    background-color: #f2ebeb; 
}
.remove-btn {
    display: none; /* Hide remove button by default */
    align-self: flex-; 
    border: none;
    color: rgb(132, 132, 132);
    font-size: 2em;
    line-height: 1;
}
.remove-btn:hover{
    color: red;
}
.notification-time {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.type-box {
    display: inline-block; /* Ensure the box fits the text */
    width: auto; /* Adjust width based on content */
    font-size: 0.5rem; 
    padding: 0.3rem; 
}

.notification-time {
    align-self: flex-start; /* Align time to the top */
    justify-content: right;
}

.type-box {
    min-width: 50px;
    max-width: 50px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}
.type-update {
    background-color: rgb(82, 0, 155);
}
.type-upcoming {
    background-color: rgb(208, 0, 114);
}
